# ============================================
# TELEGRAM BOT CONFIG
# ============================================
# Dapatkan dari @BotFather di Telegram
TELEGRAM_BOT_TOKEN=tele_token_here

# ============================================
# DATAPUBLIK API CONFIG
# ============================================
DATAPUBLIK_BASE_URL=api_url_here
# Voucher/Key default (bisa dikosongkan jika diatur via /set_voucher)
DATAPUBLIK_DEFAULT_KEY=your_datapublik_key_here
